<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Too Many Secrets</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<header>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sign-up">signup</a></li>
    </ul>
</header>

<main>
    <div id="title-container">
    <img src="images/toomanysecrets.png">
    </div>
    <Form action="/login" method="post">
        <h2>Log In</h2>
        <fieldset>
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input class="button" type="submit" value="Submit">
        </fieldset>
        <a class="no-account-text" href="/sign-up/">No account? Create One</a>
    </Form>
</main>

</body>
</html>