<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Secret Posts</title>
</head>
<body>
<header>
    <span id="open-button" onclick="openForm()">&#9776;</span>
    <ul>
        <li><a href="/">home</a></li>
    </ul>
</header>
<main>
    <h1 th:text="${appUser.username + 's Posts'}"></h1>
    <div class="posts-group">
        <article th:each="post : ${appUser.postList}">
            <h2 th:text="${post.subject}"></h2>
            <p class="date" th:text="${post.date}"></p>
            <div class="postcontent-container">
                <p th:text="${post.postContent}"></p>
            </div>
        </article>
    </div>

    <div id="side-form" class="side">
        <a href="javascript:void(0)" class="close" onclick="closeForm()">&times;</a>
        <form action="/secret-recipes/add-post" method="post">
            <fieldset>
                <legend>Make a new Post</legend>
                <input type="hidden" name="appUserId" th:value="${appUser.id}">
                <label for="subject">Subject</label>
                <input type="text" name="subject" required>
                <label for="postContent">Content</label>
                <input type="text" name="postContent" required>
                <input class="button" type="submit" value="Submit Post">
            </fieldset>
        </form>
    </div>
</main>
<script>
    function openForm() {
        document.getElementById("side-form").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("open-button").style.opacity = "0";
    }

    function closeForm() {
        document.getElementById("side-form").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("open-button").style.opacity = "1";
    }
</script>

</body>
</html>