<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Secret Posts</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/secret-recipes.css">
</head>
<body>
<header>
    <ul>
        <li><a href="/">home</a></li>
    </ul>
</header>
<main>
    <h1 th:text="${appUser.username + 's Posts'}"></h1>
        <article th:each="post : ${appUser.postList}">
            <h2 class="subject" th:text="${post.subject}"></h2>
            <p class="date" th:text="${post.date}"></p>
            <div class="postcontent-container">
                <p th:text="${post.postContent}"></p>
            </div>
        </article>

        <form id="post-form" action="/secret-recipes/add-post" method="post">
            <fieldset>
                <legend>Make a new Post</legend>
                <input type="hidden" name="appUserId" th:value="${appUser.id}">
                <label for="subject">Subject</label>
                <input id="new-content-subject" type="text" name="subject" required>
                <label for="postContent">Content</label>
                <textarea id="new-content-text" type="text" name="postContent" required></textarea>
                <input class="button" type="submit" value="Submit Post">
            </fieldset>
        </form>
</main>

</body>
</html>