<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create An Account</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sign-up.css">
</head>
<body>
<header>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sign-up">signup</a></li>
    </ul>
</header>
<main>
    <div id="title-container">
        <img src="../images/toomanysecrets.png">
    </div>
    <Form action="/create-account" method="post">
        <fieldset>
            <legend>Sign Up</legend>
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input class="button" type="submit" value="Create Account">
        </fieldset>
    </Form>
</main>

</body>
</html>